*{
    background-color: black;
    font-family: "Libre Baskerville", serif;
}

div{
    margin-top: 50px;
    margin-left: 25%;
    width:50%
}
h1{
    text-transform: uppercase;
    margin-left: 30px;
    color: white;
    font-size:  45px; 
}
p{
    color: white;
    margin-left: 230px;
    font-size: 10px;
}
img{
    border: 5px solid white;
}